/* src/styles/main.css */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

/*CSS -> 자바스크립트 순서로 정리해둠*/

.main_content{
  height: 100vh;
}

.chart_section{
  position: absolute;
  left: 300px;
  top:85px;
}

.chat_section{
  position: fixed;
  right: 10px;
  bottom: 25px;
}

.ai_result_section{
  position: absolute;
  right: 70px;
  top: 119px;
}